@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --blue: #3665f3;
  --black: #0d0d0d;
  --grey: #353535;
  --white: #f4ecec;

  --branding-font: "Inter", sans-serif;
  --font: "Roboto", sans-serif;

  --heading-size: 1.2em;
  --content-size: 0.9em;
}

* {
  margin: 0;
}

body {
  font-family: var(--font);
  background-color: var(--black);
  color: var(--white);
}

.branding {
  background-color: var(--blue);
  font-family: var(--branding-font);
  padding: 0.8rem 1.2rem;
  font-size: 1.4em;
  margin-bottom: 1.3em;
}

.note-display {
  background-color: var(--grey);
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px rgba(186, 186, 186, 0.54); */
  padding: 1em;
  margin: 1em 1em 0 1em;
}

.note-title {
  font-size: 1.4em;
  padding-bottom: 0.6rem;
  font-weight: 500;
}

.note-content {
  font-size: var(--content-size);
  padding-bottom: 0.6rem;
  font-weight: 400;
}

.button {
  transform: scale(0.8);
}
